html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-size: cover; //或者background-size:100%;
}

#app,
.root {
  height: 100%;
}

//表单为明细查看时的样式
.detail-form {
  .el-input__wrapper,
  .el-radio {
    box-shadow: none;
    border-style: dashed;
    border-width: 1px;
    border-color: var(--el-text-color-disabled);
  }

  .el-input.is-disabled .el-input__wrapper {
    box-shadow: none;
  }

  .el-form-item__label::before {
    display: none;
  }

  //隐藏placeholder
  /* WebKit浏览器 */
  input::-webkit-input-placeholder {
    opacity: 0;
    color: transparent !important;
  }
  /* Firefox 4 至 18 */
  input:-moz-placeholder {
    opacity: 0;
    color: transparent !important;
  }
  /* Firefox 19+ */
  input::-moz-placeholder {
    opacity: 0;
    color: transparent !important;
  }
}

//表单的底部按钮栏样式
.m-footer {
  text-align: right;
  margin-top: 10px;
}

/* 页面切换动画-s */
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all 0.2s ease;
}

// slide-right
.slide-right-enter-from {
  opacity: 0;
  transform: translateX(-20px);
}

.slide-right-leave-to {
  opacity: 0;
  transform: translateX(20px);
}

// slide-left
.slide-left-enter-from {
  @extend .slide-right-leave-to;
}

.slide-left-leave-to {
  @extend .slide-right-enter-from;
}

/* 页面切换动画-end */
