:root {
  --layout-bg-color: #f5f5f5;
  --layout-left-bg-color: var(--el-bg-color);
  --layout-header-bg-color: var(--el-bg-color);

  //--el-color-primary: #f58e47 !important;
  //--el-color-primary-light-3: #ffa966;
  //--el-color-primary-light-5: #ffbf95;
  //--el-color-primary-light-7: #ffd6b9;
  //--el-color-primary-light-8: #ffece0;
  //--el-color-primary-light-9: #ffefe6;
  //--el-color-primary-dark-2: #da6f00;

  --el-menu-bg-color: rgba(0, 0, 0, 0);
  --el-menu-item-height: 40px;

  --el-font-size-base: 13px;
}

html {
  background: url('@/assets/bg.jpg') no-repeat;

  .el-menu {
    border-right: none;
  }

  .el-table {
    --el-table-border-color: var(--el-border-color);
    --el-table-header-bg-color: var(--el-color-primary-light-8);
    --el-table-header-text-color: var(--el-text-color-regular);
    --el-font-size-base: 12px;
    font-size: 12px;

    .el-table__cell {
      padding: 4px 0;
    }

    thead {
      font-size: 13px;
    }

    thead.is-group th.el-table__cell {
      background: var(--el-table-header-bg-color);
    }
  }

  .el-dialog {
    min-width: min(350px, 95vw);
    max-width: 95vw;

    .el-dialog__header {
      padding-bottom: 0;
    }

    .el-dialog__body {
      padding: 20px;
    }
  }

  .el-checkbox-group,
  .el-radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .el-checkbox,
  .el-radio {
    margin-right: 0;
  }

  .el-checkbox__label,
  .el-radio__label {
    padding-left: 5px;
  }

  .el-link {
    align-items: center;

    .el-icon {
      margin-right: 5px;
    }
  }
}
